.logout{
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}
.user{
	margin: 20px;

}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.text-center {
    text-align: center;
}

.login-form {
    width: 340px;
    margin: 30px auto;
}

.login{
	width: 50;
	height: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 250px;
}
.userI{
	width: 200px;
	height: 200px;
	margin: 10px;
}
.sorteoI{
	width: 100px;
	height: 100px;
	margin: 10px;
}

.jps{
	color: #ffffff ;
	margin: 20px;
}
.log{
	display: flex;
	align-items: center;
	height: 700px;
	justify-content: center;

}
.tit{
	color: #ffffff;
}
.fun{
	margin: 25px;
}